extends ../_layout/master

block content
    h1 股票資料詳情

    table 
        tr 
            th 日期
            th 股票代碼
            th 開盤價
            th 最高價
            th 最低價
            th 收盤價
        each detail in details 
            tr 
                td #{detail.date}
                td #{detail.stock_id}
                td #{detail.open_price}
                td #{detail.high_price}
                td #{detail.low_price}
                td #{detail.close_price}